.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  padding: 0.5em;
  margin: 2.5em 2.5em;
  background-color: #FEFEFA;
  border-radius: 0.5em;
}